{% extends 'base.html' %}
{% block content %}
<div style="padding:1em;">
    <div class="page-header">
        <h1>AIで深層学習　<small>学習用画像を登録する</small></h1>
    </div>
    <form id="setting_form"  enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}
        <div class='form-group'>
            <div class='col-sm-4'>{{setting_form.as_p}}</div>
        </div>
    </form>
    <form id="image_upload"  enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}
        <div class='form-group'>
            <div  class='col-sm-4'>{{form.as_p}}</div>
            <div class='col-sm-8'><button type="button" onclick="uploadImage()" class="btn btn-primary">学習する</button></div>
        </div>
    </form>
    <p class="message">判定画像</p>
    <table id="image_result" class="table">
        <thead class="thead-inverse">
        <tr>
            <th>Face</th>
            <th>Posts</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{% endblock %}